/* You can add global styles to this file, and also import other style files */


body {

    background: green;
    margin: auto;
}

h1 {
    text-align: center;
    font: "Comic Sans MS", cursive, sans-serif;
    color: white;
}
